.ing {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: lightsalmon;
    padding: 15px;
    border-radius: 1rem;
  }
  
  .ingredientGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1rem; /* Spacing between grid items */
  }
  
  .ingredient {
    text-align: center; /* Center-align text within the ingredient */
  }

  .img1{
    width: 60%;
  }

  @media (max-width: 768px) {
    .ingredientGrid {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .ingredientGrid {
      grid-template-columns: 1fr; /* One column on very small screens */
    }
  }