body{
    background-image: url('./assets/foodbackg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
  body {
    background-size:cover; /* Adjust background size for smaller screens */
  }
}